
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
*.env

# VSCode
.vscode/

# PyCharm
.idea/

# Data
data/
*.csv
*.zip

# Streamlit cache
.streamlit/

# OS files
.DS_Store
Thumbs.db
